/*css document for webpage*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700');


body { font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0; }

#page { max-width: 1200px; margin: 0 auto; position: relative; }

/* Text */
h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 { margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700;}
h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700;}

p { margin: 0 0 1em 0; }

.multimedia {
    margin-left: 20%; float:left;
}

.multimedia.design {
    margin-left: 20%; float:left;
}

@media screen and (max-width: 360px){
    
    h1 {
        font-size: 1.8em; 
    }
    
    h2 { font-size: 1.2em;}
    
    
    .multimedia {
        margin-left: 2%; 
    }
    
    .multimedia img{
        height: 27%; width:75%;    
    
    }
    
    .multimedia.design img {
        margin-left: 2%; height: 20%;
    }
}